{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    ["@emotion/babel-plugin"],
    ["react-require"],

    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
